*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.observed {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.container h1{
    font-size: 40px;
    font-weight: normal;
    padding: 15px;
    text-align: center;
}
.imageId{
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    padding: 15px;
    text-align: center;
}
.downloadImage{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: antiquewhite;
    font-size: large;
    width:200px;
    height: 60px;
    align-items: center;
    position: absolute;
    left: 43%;
    top: 85%;
}

.container .image-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 10px;


}


@media screen and (max-width:430px) {
    
.container .image-container{
    grid-template-columns:1fr;
}
}

.container .image-container .image{
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor:pointer ;

}

.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container .image-container .image:hover  img{
    transform: scale(1.1);
}
.container  .popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;


}
.container  .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.container .popup-image img{
max-width:  60%;
max-height: 60%;
position: absolute;
top: 50%;left: 50%;
transform: translate(-50%,-50%);
border: 5px solid #fff;
border-radius: 5px;
object-fit: cover;
}